---
---
app

  start    if='{!user}'
  homepage if='{user}'

  javascript:
    window.app = this

    mdc.autoInit()

    login(user) {
      apiData.auth_token = storage.set('auth_token', user.auth_token)
      window.user        = storage.set('user', user)
      this.update()
    }

    logout() {
      apiData.auth_token = storage.set('auth_token', null)
      window.user        = storage.set('user', null)
      app.update()
    }

    this.on('mount', function() {
    })

