---
---
order

  .mdc-card if='{order}'
    section.mdc-card__primary
      .mdc-typography--subheading2.total if='{order.items.length}'
        'Total do pedido ({order.items.length} itens):

        span.total-price if='{order.total_price}'
          '{order.currency_unit}{order.total_price.toFixed(2)}

        button-tag.confirm label='Fechar'

      ul.mdc-list.mdc-list--avatar-list
        li.mdc-list-item each='{i in order.items}' data-is='order-item' item='{i}'

  javascript:
    this.order = opts.order

    add(product) {
      api.addItem(product.id).then(function(order) {
        app.currentOrder.setOrder(order)
      }.bind(this))
    }

    remove(item) {
      _.remove(this.order.items, {id: item.id})
      this.update()
    }

    this.on('mount', function () {
      $('.mdc-list-item').each(function(i) {
        mdc.ripple.MDCRipple.attachTo(this)
      })
    })

  css:
    .total-price {
      color: #b1220a;
      font-weight: bold;
    }

    .confirm {
      float: right;
    }

