---
---

product
  .mdc-card
    section.mdc-card__primary
      h1.mdc-card__title.mdc-card__title--large
        '{p.name}
      /h2.mdc-card__subtitle Subtitle here
      icon-toggle id='{p.id}' on-icon='favorite' off-icon='favorite_border' remove-label='Remover dos favoritos' add-label='Adicionar aos favoritos'

    section.mdc-card__media style='background-image: url({apiData.host+p.image})'

    section.mdc-card__supporting-text
      '{p.description}

    section.mdc-card__actions
      fab icon='add_shopping_cart' label='adicionar' onclick='{add}'

  javascript:
    this.p = opts.product

    add() {
      app.currentOrder.add(this.p)
      this.parent.tags.snackbar.show('Produto adicionado', 'Ver pedido', app.homepage.openCurrentOrder)
    }

  css:
    .mdc-card__primary h1 {
      display: inline-block;
    }

    .mdc-card__media {
      height: 120px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .mdc-card__actions {
      flex-direction: row-reverse;
    }
    .order {
      background-color: var(--mdc-theme-primary);
    }

    icon-toggle {
      float: right;
    }

