---
---
error

  .mdc-text-field--invalid
    '{msg}

  javascript:

    this.on('update', function() {
      this.msg = this.opts.message
    })

  scss:
    error {
      color: #d50000;
      font-size: 80%;
    }

