---
---
fab
  button.mdc-fab.order.mdc-fab--mini.material-icons aria-label='{label}' ref='button'
    span.mdc-fab__icon
      '{icon}

  javascript:
    this.icon  = opts.icon
    this.label = opts.label

    this.on('mount', function() {
      mdc.ripple.MDCRipple.attachTo(this.refs.button)
    })

