---
---
icon-toggle
  i.mdc-icon-toggle.material-icons role='button' ref='icon' aria-label='{label}' aria-pressed='false' tabindex='-1'
    '{icon}

  javascript:
    this.onIcon      = opts.onIcon
    this.offIcon     = opts.offIcon
    this.addLabel    = opts.addLabel
    this.removeLabel = opts.removeLabel

    this.id          = opts.id
    this.icon        = this.offIcon
    this.label       = opts.addLabel

    this.on('mount', function() {
      mdc.iconToggle.MDCIconToggle.attachTo(this.refs.icon)
      this.refs.icon.addEventListener('MDCIconToggle:change', function(evt) {
        this.icon  = evt.detail.isOn ? this.onIcon      : this.offIcon
        this.label = evt.detail.isOn ? this.removeLabel : this.addLabel
        this.update()
      }.bind(this))
    }.bind(this))


