---
---
text-field

  .mdc-text-field ref='field'
    input.mdc-text-field__input required='{required}' ref='input' type='{type}' onfocus='{focus}' aria-controls='my-text-field-helptext'

    label.mdc-text-field__label
      '{label}

    .mdc-text-field__bottom-line

  javascript:
    this.name     = opts.name
    this.type     = opts.type || 'text'
    this.label    = opts.label
    this.invalid  = opts.invalid
    this.required = opts.required

    value() {
      return this.refs.input.value
    }

    focus() {
      if (!/Android/.test(navigator.appVersion)) return
      this.refs.input.scrollIntoView()
    }

    this.on('mount', function() {
      this.mdcField = new mdc.textField.MDCTextField(this.refs.field);
    })
    this.on('update', function() {
      this.mdcField.valid = !this.invalid
    })

  scss:
    .mdc-text-field {
      display: block;
      width: 100%;
    }

    text-field {
      display: block;
    }

