---
---
text-field

  .mdc-text-field class='{"mdc-text-field--with-trailing-icon": trailingIcon}' ref='field'

    input.mdc-text-field__input required='{required}' ref='input' type='{type}' onclick='{scroll}' aria-controls='my-text-field-helptext'

    label.mdc-text-field__label
      '{label}

    i.material-icons.mdc-text-field__icon onclick='{toggleVisibility}' tabindex='0' if='{type == "password"}'
      'visibility

    .mdc-text-field__bottom-line


  javascript:
    this.name     = opts.name
    this.type     = opts.type || 'text'
    this.label    = opts.label
    this.invalid  = opts.invalid
    this.required = opts.required

    this.trailingIcon = this.type == 'password'

    value() {
      return this.refs.input.value
    }

    scroll() {
      if (!/Android/.test(navigator.appVersion)) return
      setTimeout(function() {
        this.refs.input.scrollIntoView()
      }.bind(this), 500)
    }

    toggleVisibility(e) {
      if (e.target.textContent.trim() == 'visibility') {
        e.target.textContent = 'visibility_off'
        this.refs.input.type = 'text'
      } else {
        e.target.textContent = 'visibility'
        this.refs.input.type = 'password'
      }
    }

    this.on('mount', function() {
      this.mdcField = new mdc.textField.MDCTextField(this.refs.field);
    })
    this.on('update', function() {
      this.mdcField.valid = !this.invalid
    })

  scss:
    .mdc-text-field {
      display: block;
      width: 100%;
    }

    .mdc-text-field--with-trailing-icon .mdc-text-field__icon {
      right: 4px;
      bottom: 4px;
      color: var(--mdc-theme-text-secondary-on-light,rgba(0,0,0,.54))
    }
    .mdc-text-field--with-trailing-icon .mdc-text-field__input {
      padding-left: 0px;
    }

    text-field {
      display: block;
    }

