---
---
text-field

  .mdc-text-field ref='field'
    input.mdc-text-field__input type='{type}' aria-controls='my-text-field-helptext'
    label.mdc-text-field__label
      '{label}
    .mdc-text-field__bottom-line

  javascript:
    this.type  = opts.type || 'text'
    this.label = opts.label

    this.on('mount', function() {
      mdc.textField.MDCTextField.attachTo(this.refs.field);
    })

  css:
    .mdc-text-field {
      display: block;
      width: 100%;
    }
