---
---
toolbar

  header.mdc-toolbar.no-select
    .mdc-toolbar__row

      section.mdc-toolbar__section.mdc-toolbar__section--align-start
        span.mdc-toolbar__menu-icon.ham-menu-back ref='menu' onclick='{onMenuClick}'
          .icon
        /i.material-icons.mdc-toolbar__menu-icon ref='menu' onclick='{openMenu}' menu
        span.mdc-toolbar__title
          '{title}

      section.mdc-toolbar__section.mdc-toolbar__section--align-end
        yield from='end'

  javascript:
    this.title = opts.title

    onMenuClick() {
      if ($(this.refs.menu).hasClass('open'))
        app.pageManager.goHome()
      else
        this.openMenu()
    }

    openMenu() {
      app.menu.open()
    }

    forward() {
      $(this.refs.menu).addClass('open')
    }
    back() {
      $(this.refs.menu).removeClass('open')
    }

    this.on('mount', function () {
      app.toolbar = this
    })

  css:
    .mdc-toolbar__row {
      min-height: 40px;
    }
    .mdc-toolbar__title {
      //padding-bottom: 0px; /* too much space down with tabs */
    }

