---
---
app

  toolbar

  loading

  page-manager

  javascript:
    window.app = this

    this.on('mount', function() {
      this.pageManager = this.tags['page-manager']
      this.toolbar     = this.tags.toolbar
    })

