---
---
app

  start if='{!user}'

  .logged if='{user}'
    toolbar
    loading
    page-manager

  javascript:
    window.app = this

    mdc.autoInit()

    this.on('mount', function() {
      this.toolbar     = this.tags.toolbar
      this.pageManager = this.tags['page-manager']
    })

