---
---
current-order

  order order='{lastOrder}'

  javascript:
    app.currentOrder = this

    add(product) {
      this.tags.order.add(product)
    }

    setOrder(order) {
      this.lastOrder        = order
      this.tags.order.order = order
      window.user.order     = this.lastOrder
      app.update()
      return order
    }

    api.orders({action: 'last'}).then(function(order) {
      this.setOrder(order)
    }.bind(this))

