---
---
loading

  .mdc-linear-progress.mdc-linear-progress--indeterminate ref='loading' role='progressbar'
    .mdc-linear-progress__buffering-dots
    .mdc-linear-progress__buffer
    .mdc-linear-progress__bar.mdc-linear-progress__primary-bar
      span.mdc-linear-progress__bar-inner
    .mdc-linear-progress__bar.mdc-linear-progress__secondary-bar
      span.mdc-linear-progress__bar-inner

  javascript:
    app.loading = this

    show() {
      $(this.refs.loading).css('opacity', 1)
    }

    hide() {
      $(this.refs.loading).css('opacity', 0)
    }

