---
---
menu
  aside.mdc-temporary-drawer.mdc-typography ref='drawer'
    nav.mdc-temporary-drawer__drawer
      header.mdc-temporary-drawer__header
        .mdc-temporary-drawer__header-content
          Header Poda

      nav.mdc-temporary-drawer__content.mdc-list
        a.mdc-list-item onclick='{signout}'
          i.material-icons.mdc-list-item__start-detail aria-hidden='true' exit_to_app
          'Sair

  javascript:

    signout() {
      window.user = storage.set('user', null)
      app.update()
    }

    open() {
      this.drawer.open = true
    }

    this.on('mount', function () {
      this.drawer = new mdc.drawer.MDCTemporaryDrawer(this.refs.drawer)
    }.bind(this))

  css:
    menu {
      margin: 0;
    }
