---
---
page-manager

  store-tab.page.main-page.active id='store'

  cycles-tab.page id='cycles'
  past-orders.page id='orders'
  current-order.page

  javascript:

    select(page) {
      page = $(page)
      var active = $('.page.active')
      var main   = $('.main-page')

      if ($(page).get(0) == active.get(0)) return

      if (!active.hasClass('main-page'))
        active.animateCss('slideOutRight', function() {
          active.removeClass('active')
        })

      if (!page.hasClass('main-page'))
        $(page).animateCss('slideInRight', function() {
          active.removeClass('active')
        })
      $(page).addClass('active')
    }

    goHome() {
      app.toolbar.back()
      this.select('.main-page')
    }

    navigate(page) {
      app.toolbar.forward()
      this.select(page)
    }

    this.on('mount', function() {
    }.bind(this))

  css:
    page-manager {
      position: relative;
      display: block;
    }
    .page {
      position: absolute;
      width: 100%;
      height: 500px;
      top: 0;
      left: 0;
      z-index: 0;
      opacity: 0;
      background: white;
      animation-duration: 200ms;
    }
    .page.active {
      z-index: 1;
      opacity: 1;
    }


