---
---
signin

  loading

  form-tag error='{error}' ref='form'

    text-field label='Email ou celular' ref='login'
    text-field label='Senha' type='password' ref='password'

    br
    button-tag.center label='Entrar' onclick='{parent.signin}'
    br
    line-sep text='ou'
    br
    button-tag.center label='Criar nova conta' onclick='{parent.signup}'

  javascript:

    signin() {
      api.signin(this.ref.form.values()).then(function (user) {
        if (user.error) {
          this.error = 'Email, celular ou senha incorretos'
          return this.update()
        }

        app.login(user)
      }.bind(this))
    }

    signup() {
      app.pageManager.navigate('signup')
    }

    this.on('mount', function() {

    })

  scss:
    signin {
      display: block;
    }

