---
---
start

  page-manager
    .page.main-page.active
      logo-animation.presentation-phase

      .login.presentation-phase
        .logo
          img src='images/start_logo.png'
        signin

    signup.page

  javascript:

  scss:
    start {
      display: block;
      height: 100vh;
    }

    .logo {
      padding: 40px 10px;
      background: #f1f1c2;
    }
    .logo img {
      width: 100%;
    }


