---
---
start

  logo-animation.presentation-phase

  .login.presentation-phase
    .logo
      img src='images/start_logo.png'

    page-manager
      .signin.page.main-page.active
        text-field label='Email ou celular' ref='login'
        text-field label='Senha' type='password' ref='password'

        br
        button-tag.center label='Entrar'
        br
        line-sep text='ou'
        br
        button-tag.center label='Criar nova conta' onclick='{signup}'

      .signup.page
        text-field label='Nome' ref='name'
        text-field label='Email' type='email' ref='email'
        text-field label='Celular' ref='phone'
        text-field label='Senha' type='password' ref='password'

        br
        button-tag.center label='Registrar-se'

  javascript:

  scss:
    start {
      display: block;
      height: 100vh;
    }

    .logo {
      padding: 40px 10px;
      background: #f1f1c2;
    }
    .logo img {
      width: 100%;
    }

    .form {
      margin: 30px;
    }

