---
---
toolbar

  header.mdc-toolbar
    .mdc-toolbar__row

      section.mdc-toolbar__section.mdc-toolbar__section--align-start
        span.mdc-toolbar__menu-icon.ham-menu-back ref='menu' onclick='{onMenuClick}'
          .icon
        /i.material-icons.mdc-toolbar__menu-icon ref='menu' onclick='{openMenu}' menu
        span.mdc-toolbar__title Poda

      section.mdc-toolbar__section.mdc-toolbar__section--align-end
        a.material-icons.mdc-toolbar__icon href='#' aria-label='Pedido' alt='Pedido' onclick='{openCurrentOrder}' shopping_cart

    /tabs

  menu

  javascript:

    onMenuClick() {
      if ($(this.refs.menu).hasClass('open'))
        app.pageManager.goHome()
      else
        this.openMenu()
    }

    openMenu() {
      this.tags.menu.open()
    }

    openCurrentOrder() {
      app.pageManager.navigate('current-order')
    }

    forward() {
      $(this.refs.menu).addClass('open')
    }
    back() {
      $(this.refs.menu).removeClass('open')
    }

  css:
    .mdc-toolbar__row {
      min-height: 40px;
    }
    .mdc-toolbar__title {
      //padding-bottom: 0px; /* too much space down with tabs */
    }

