---
---
toolbar

  header.mdc-toolbar
    .mdc-toolbar__row
      section.mdc-toolbar__section.mdc-toolbar__section--align-start
        a href='#' class='material-icons mdc-toolbar__icon--menu' show='{false}' onclick='{openMenu}' menu
        span.mdc-toolbar__title Poda
    tabs

  menu


  javascript:

    openMenu() {
      this.tags.menu.open()
    }

  css:
    .mdc-toolbar__row {
      min-height: 40px;
    }
    .mdc-toolbar__title {
      padding-bottom: 0px; /* too much space down */
    }

