---
---
loading

  .mdc-linear-progress.mdc-linear-progress--indeterminate ref='loading' role='progressbar'
    .mdc-linear-progress__buffering-dots
    .mdc-linear-progress__buffer
    .mdc-linear-progress__bar.mdc-linear-progress__primary-bar
      span.mdc-linear-progress__bar-inner
    .mdc-linear-progress__bar.mdc-linear-progress__secondary-bar
      span.mdc-linear-progress__bar-inner

  javascript:
    app.loading = this

    // There can me multiple loading elements (e.g. signin/signup)
    // So the selector should select all
    show() {
      $('loading .mdc-linear-progress').css('opacity', 1)
    }
    hide() {
      $('loading .mdc-linear-progress').css('opacity', 0)
    }

  scss:
    .mdc-linear-progress {
      opacity: 0;
    }
