---
---
menu
  aside.mdc-temporary-drawer.mdc-typography ref='drawer'
    nav.mdc-temporary-drawer__drawer
      header.mdc-temporary-drawer__header
        .mdc-temporary-drawer__header-content
          '{header}

      nav.mdc-temporary-drawer__content.mdc-list
        yield from='list'

  javascript:
    app.menu    = this
    this.header = opts.header

    open() {
      this.drawer.open = true
    }

    this.on('mount', function () {
      this.drawer = new mdc.drawer.MDCTemporaryDrawer(this.refs.drawer)
    })

  css:
    menu {
      margin: 0;
    }

